{#
/**
 * @file
 * Default theme implementation for the TMGMT needs review notification.
 *
 * @ingroup themeable
 */
#}
<div>
    <p>Hi [identity:label],</p>
    <p>The Job Item [tmgmt_job_item:label] is ready for review. Go here to review it: <a href="[tmgmt_job_item:url]">[tmgmt_job_item:label]</a></p>
    <p>Link to the Job: <a href="[tmgmt_job:url]">[tmgmt_job:label]</a></p>
</div>
